body {
    background-color: lightgrey;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: large;
}
.complete {
    background-color: lightblue;
}
.incomplete {
    background-color: lightpink;
}